aioquic
asyncio==3.4.3 
attrs==25.3.0 
certifi==2025.4.26 
cffi==1.17.1 
cryptography==45.0.2 
datetime==5.5 
pyasn1==0.6.1 
pyasn1-modules==0.4.2 
pycparser==2.22 
pylsqpack==0.3.22 
pyopenssl==25.1.0 
pytz==2025.2 
service-identity==24.2.0 
setuptools==80.7.1 
typing-extensions==4.13.2 
zope.interface==7.2
opentelemetry-api==1.24.0
opentelemetry-sdk